.bgimage__startup {
  background-image: url("../../assets/banner-startup.svg");
  background-size: cover;
  filter: brightness(90%);
  height: 180vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-startup__container {
  width: 450px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: 15px 15px 15px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  margin-top: -40px;
}

/* for image uploading starts*/

.form__img-input-container {
  position: relative;
  margin: auto;
  background-color: white;
}

/* this class is used to hide the file input */
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Adding the focus and focus-within styles for accessibility */
input.visually-hidden:focus + label,
input.visually-hidden:focus-within + label {
  outline: 8px solid #111111;
}

/* The file input is a labeled control, and since we hid it, 
  we're going to use its associated label to trigger it */
.form-img__file-label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  border: black 1px solid;
}

/* The image element is going to be positioned under the 
  label element, since the label is a see through, we're going 
  to be able to see the preview of the image. */
.form-img__img-preview {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
  margin-left: 4px;
  /*border: 1px black solid;*/
}

/* image uploading stops */

.profile-startup__container > form > h4 {
  font-weight: 500;
  margin-left: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.profile-startup__container > h2 {
  font-weight: 500;
  margin-bottom: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.profile-startup__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  color: #131211;
  border-color: black;
  box-shadow: 5px 5px 5px;
  width: 98%;
  border-radius: 25px;
}

.profile-startup__container > form > p {
  font-size: 15px;
  font-style: italic;
  color: red;
}

::placeholder {
  color: black;
}

.profile-startup__SubmitButton {
  background: #f8f000;
  width: 50%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-color: #131211 #1f1e1c #1f1d1a;
  cursor: pointer;
  border-radius: 18px;
  transition: all 0.1s ease-in-out;
  margin-left: 100px;
  align-items: center;
}

.profile-startup__SubmitButton:hover {
  background-color: #2b2b28;
  color: white;
  transition: all 0.1s ease-in-out;
}
